AUTH_PASSWORD=
TELEGRAM_TOKEN=
OPENAI_API_KEY=
MIDJOURNEY_SALAI_TOKEN=
MIDJOURNEY_SERVER_ID=
MIDJOURNEY_CHANNEL_ID=
PLAY_HT_USER_ID=
PLAY_HT_SECRET_KEY=
GOOGLE_PROJECTID=
GOOGLE_API_KEY=
DEFAULT_COUNTRYCODES=en-US
DEFAULT_OPENAI_MODEL=gpt-3.5-turbo
STORE_LOCATION=./store